/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #afb71a46;
}
.container {
  position: relative;
  max-width: 600px;
  width: 100%;
  border-radius: 12px;
  padding: 20px 50px 20px 50px;
  background: #75246a89;
  box-shadow: 0 5px 10px rgba(235, 205, 205, 0.403);
}
.display {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #b9cacd;
}
.buttons button:active {
  transform: scale(0.99);
}
.operator {
  color: #d815d8;
}